<h1>Edit Task</h1>

<%= render "form.html", Map.put(assigns, :action, Routes.goal_task_path(@conn, :update, @task.goal, @task)) %>

<span><%= link "Back", to: Routes.landing_page_path(@conn, :index) %></span>
