<h1>Show Goal</h1>

<ul>

  <li>
    <strong>Name:</strong>
    <%= @goal.name %>
  </li>

  <li>
    <strong>Purpose:</strong>
    <%= @goal.purpose %>
  </li>

</ul>

<span><%= link "Edit", to: Routes.goal_path(@conn, :edit, @goal) %></span>
<span><%= link "Back", to: Routes.goal_path(@conn, :index) %></span>
